// base colors
$one-base-color: #263846;
$one-base-darker-color: #1B2934;

$accent-color: #F9B5A7;
$lines-color: #45779D;
$select-color: #FBFBFB;
$white-color: #FFFFFF;
$whiteF3-color: #F3F3F3;
$black-color: #000000;
$select-text-color: #333333;

$favorites-line: #C2D7E8;
$gray-blue: #7592A7;

$green: #6DB492;
$red: #DA816F;
$gray: #9BA5AC;

//filter
//$filter-save-text-color: #A4AEB6;
//$filter-save-text-placeholder-color: #9BA5AC;
//
////select apartments
//
//$select-free-color: #6DB492;
//$select-text-color: #6D7275;
//$select-text-another-color: #7592A7;
//$select-line-color: #A3BED3;
//$select-withdrawn-color: #BF9A94;
//$select-withdrawn-color: #B8B8B8;
//
////card apartments
//
//$card-text-color: #7197B4;
//$card-text-light-color: #F3F3F3;
//
//$card-border-color: #8798A6;
//
//$card-text-light-color: #B6D5ED;
//$card-text-price-by-meter-color: #B6DFFF;
//$card-text-price-crossed-out-color: #B6D5ED;
//$card-text-comment-color: #5F7F98;
//
////favorites
//
//$favorites-text: #7A92A5;
//
